--
-- PostgreSQL database dump
--

\restrict o9Mhm0wdJlpkJbN6Vos7H59PkB7yOefr6z2FIAee4ZHkEyUpA7kbuaoh4XtnFkl

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    user_id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: TABLE "User"; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public."User" IS 'тХи╨итХитХЬтХд╨ФтХитХЫтХд╨РтХитХЭтХитЦСтХд╨ЦтХитХХтХд╨Я тХитХЫ тХитФРтХитХЫтХитХСтХд╨УтХитФРтХитЦСтХд╨ТтХитХбтХитХЧтХд╨ЯтХд╨Х';


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.order_items (
    order_item_id integer NOT NULL,
    order_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.order_items OWNER TO admin;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orders (
    order_id integer NOT NULL,
    order_date date NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT orders_check CHECK ((order_date <= CURRENT_TIMESTAMP))
);


ALTER TABLE public.orders OWNER TO admin;

--
-- Name: product_category; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.product_category (
    category_id integer NOT NULL,
    category_name character varying(50) NOT NULL
);


ALTER TABLE public.product_category OWNER TO admin;

--
-- Name: TABLE product_category; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.product_category IS 'тХи╨╡тХд╨РтХитЦСтХитХЬтХитХХтХд╨Т тХитХСтХитЦСтХд╨ТтХитХбтХитФВтХитХЫтХд╨РтХитХХтХитХХ тХд╨ТтХитХЫтХитЦУтХитЦСтХд╨РтХитХЫтХитЦУ';


--
-- Name: products; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    product_name character varying(255) NOT NULL,
    category_id integer NOT NULL,
    price numeric(10,2) NOT NULL,
    CONSTRAINT products_check CHECK ((price > (0)::numeric))
);


ALTER TABLE public.products OWNER TO admin;

--
-- Name: TABLE products; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.products IS 'тХи╨╡тХд╨РтХитЦСтХитХЬтХитХХтХд╨Т тХитХХтХитХЬтХд╨ФтХитХЫтХд╨РтХитХЭтХитЦСтХд╨ЦтХитХХтХд╨Ю тХитХЫ тХд╨ТтХитХЫтХитЦУтХитЦСтХд╨РтХитЦСтХд╨Х';


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."User" (user_id, first_name, last_name, email) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.order_items (order_item_id, order_id, product_id, quantity) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.orders (order_id, order_date, user_id) FROM stdin;
\.


--
-- Data for Name: product_category; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.product_category (category_id, category_name) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.products (product_id, product_name, category_id, price) FROM stdin;
\.


--
-- Name: order_items order_items_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pk PRIMARY KEY (order_item_id);


--
-- Name: orders orders_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pk PRIMARY KEY (order_id);


--
-- Name: product_category product_category_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_category
    ADD CONSTRAINT product_category_pk PRIMARY KEY (category_id);


--
-- Name: product_category product_category_unique; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_category
    ADD CONSTRAINT product_category_unique UNIQUE (category_name);


--
-- Name: products products_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pk PRIMARY KEY (product_id);


--
-- Name: User user_pk; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT user_pk PRIMARY KEY (user_id);


--
-- Name: User user_unique; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT user_unique UNIQUE (email);


--
-- Name: order_items order_items_orders_fk; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_orders_fk FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: order_items order_items_products_fk; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_products_fk FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: orders orders_user_fk; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_fk FOREIGN KEY (user_id) REFERENCES public."User"(user_id);


--
-- Name: products products_product_category_fk; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_product_category_fk FOREIGN KEY (category_id) REFERENCES public.product_category(category_id);


--
-- PostgreSQL database dump complete
--

\unrestrict o9Mhm0wdJlpkJbN6Vos7H59PkB7yOefr6z2FIAee4ZHkEyUpA7kbuaoh4XtnFkl

